{% extends 'learning_logs/base.html' %}

{% load bootstrap3 %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header%}

{% block content %}
  <h5>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add New Entry</a>
  </h5>

  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ entry.date_added|date:'M d, Y H:i' }}
          <small>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit Entry</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <h4>
          {{ entry.text|linebreaks }}
        </h4>
      </div>
    </div>
    {% empty %}
      There Are No Entries For This Topic Yet.
  {% endfor %}

{% endblock content %}